@import 'tailwindcss';

@font-face {
	font-family: 'Suisse Intl';
	src: url('/fonts/SuisseIntl-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Suisse Intl Mono';
	src: url('/fonts/SuisseIntlMono-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Suisse Intl Mono';
	src: url('/fonts/SuisseIntlMono-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@theme {
	--font-display: 'Suisse Intl Mono', 'STIX Two Text Variable', 'serif';
	--font-sans: 'Suisse Intl', 'Nimbus San L', 'sans-serif';
}

* {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

*:focus {
	@apply outline-none;
}

button,
a,
select,
option {
	@apply outline-none focus:ring-1 ring-stone-300;
}

body {
	@apply bg-zinc-950 text-stone-300 w-full h-screen font-sans;
}

main {
	@apply w-full h-full;
}

a,
button {
	@apply block hover:underline cursor-pointer;
}

*::selection {
	@apply bg-stone-300 text-zinc-950;
}

em {
	@apply underline text-neutral-500 not-italic;
}
